---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Experience from "../components/Experience.astro";
import Education from "../components/Education.astro";
import LatestPosts from "../components/LatestPosts.astro";
import SqlTerminal from "../components/SqlTerminal.astro";
import StatsCounter from "../components/StatsCounter.astro";
import CitationMetrics from "../components/CitationMetrics.astro";
import Publications from "../components/Publications.astro";
import Presentations from "../components/Presentations.astro";
import GitHubActivity from "../components/GitHubActivity.astro";
import InteractiveDemo from "../components/InteractiveDemo.astro";
import Now from "../components/Now.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";
import { siteConfig } from "../config";
import "../styles/global.css";

const canonicalURL = new URL("/", Astro.site).href;

const jsonLd = {
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Zaher Karp",
  "url": "https://zaherkarp.com",
  "jobTitle": "Lead Data Engineer",
  "worksFor": {
    "@type": "Organization",
    "name": "Baltimore Health Analytics",
  },
  "knowsAbout": [
    "Healthcare Data Engineering",
    "HEDIS",
    "Medicare Star Ratings",
    "dbt",
    "SQL",
    "Python",
    "AWS",
    "Clinical Data Integration",
    "Value-Based Care",
    "CMS Quality Measurement",
  ],
  "alumniOf": {
    "@type": "CollegeOrUniversity",
    "name": "University of Wisconsin-Madison",
  },
  "sameAs": [
    "https://linkedin.com/in/zkarp",
    "https://github.com/zaherkarp",
    "https://www.researchgate.net/profile/Zaher-Karp",
  ],
};
---

<html lang="en">
  <head>
    <BaseHead
      title={`${siteConfig.fullName} - ${siteConfig.metaTitle}`}
      description={siteConfig.description}
      canonicalURL={canonicalURL}
    />
    <script type="application/ld+json" set:html={JSON.stringify(jsonLd)} />
  </head>
  <body>
    <Header />
    <section>
      <Hero />
      <SqlTerminal />
      <About />
      <StatsCounter />
      <CitationMetrics />
      <Now />
      <LatestPosts />
      <InteractiveDemo />
      <Projects />
      <GitHubActivity />
      <Experience />
      <Publications />
      <Presentations />
      <Education />
      <Contact />
    </section>
    <Footer />
    <script data-goatcounter="https://zaher-karp.goatcounter.com/count"
            async src="//gc.zgo.at/count.js"></script>
  </body>
</html>
